
@import "_mixins";
@import "compass";
@import "_config";


/* ==============================
 *	TYPOGRAPHY
 * ==============================
 */

/* Elements */
html {
    font-size: 90%;
	font-family: $serif;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: .4em;
	padding-top: .8em;
    font-weight: $fontWeightBold;
}
.u-lContent h1:nth-of-type(1), .u-lAside h1:nth-of-type(1),
.u-lContent h2:nth-of-type(1), .u-lAside h2:nth-of-type(1),
.u-lContent h3:nth-of-type(1), .u-lAside h3:nth-of-type(1),
.u-lContent h4:nth-of-type(1), .u-lAside h4:nth-of-type(1),
.u-lContent h5:nth-of-type(1), .u-lAside h5:nth-of-type(1),
.u-lContent h6:nth-of-type(1), .u-lAside h6:nth-of-type(1) {
	padding-top: 0;
}
h1 {
	font-size: 2.44em;
}
h2 {
	font-size: 1.43em;
}
h3 {
	font-size: 1.31em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
}
.u-lContent {
	@include v-pixel-fallback ('font-size', 1.2rem);
	font-family: $serif;
	font-weight: $fontWeightNormal;
	line-height: 1.4;
	margin-bottom: 1.25em;
}
p {
	margin-top: 0;
}
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
	margin-top: 0;
}
th {
	font-weight: $fontWeightBold;
}

td {
	font-weight: $fontWeightNormal;
}

li {
	margin: 0 0 0.327em;
}

/* Main page content */

.u-lMain {
	font-size: 100%;
}
.u-pageTitle {
	margin-top: 0;
}

/* u-lAside sidebar styles */

.u-lAside {
	h1 {
		font-size: 1.953em;
	}
	h2 {
		font-size: 1.562em;
	}
	h3 {
		font-size: 1.25em;
	}
	h4 {
		font-size: 1.143em;
	}
	h5 {
		font-size: 1.093em;
	}
	p,
	ol,
	ul {
		font-size: 1.195em;
		font-weight: $fontWeightNormal;
	}
	li {
		margin-bottom: 0.327em;
		line-height: 1.2;
	}
}
.u-SiteMap__level {
	 margin: .5em 0;
}
.u-Masthead__siteName,
.u-Masthead__vassar {
	padding: 0;
	margin-bottom: 0;
}
.u-Masthead__vassar {
    text-transform: uppercase;
}
.u-Masthead__siteName {
    text-align: center;
    font-size: 2em;
}
.separator {
    display: none;
}
.u-Masthead__subhead {
    font-family: $sans-serif;
    font-size: .45em;
    display: block;
    font-weight: $fontWeightNormal;
    margin-bottom: .2em;
}
.u-pageTitle {
    font-size: 1.2em;
}
.u-Masthead__vassar {
    font-size: 11px;
    font-size: .7rem;
}
.u-Masthead__siteName--line1 {
    font-weight: $fontWeightBold;
}
.u-VCard__item.u-VCard__org.u-VCard__url {
    font-weight: $fontWeightBold;
    font-family: $sans-serif;
}
blockquote, .endnotes p {
    font-family: $sans-serif;
    font-size: .9em;
}
.u-NavSite__itemContainer:last-child {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid $mdGreen;;
}
@media all and (min-width: $tiny) {
    html,
	.u-lMain {
		font-size: 100%;
	}
	p {
		line-height: 1.4;
	}
	.u-lAside {
		p,
		ol,
		ul {
			font-size: 1.195em;
		}
	}
}
@media all and (min-width: $small) {
    .u-Masthead__vassar {
        font-size: 16px;
        font-size: 1rem;
    }
    .u-Masthead__siteName {
        font-size: 2.5em;
    }
    .u-pageTitle {
        font-size: 1.43em;
    }
}

/* ==============================
 *	LAYOUT
 * ==============================
 */
@media screen {
    html {
        padding: .5em;
    }
    body {
        padding: 2%;
    }
    .u-NavSite__itemContainer {
        margin: 0 0 .5em;
    }
}
@media all and (min-width: $small) {
    html {
        padding: 1.5em;
    }
    .u-Search__submit {
        width: 2.5em;
    }
    body {
        padding: 5%;
        margin-top: 3.5em
    }
    .u-lHeader {
        padding: 0 0 1em;
        margin-bottom: 2.25em;
    }
    .u-lFooter {
        padding: 3.5em 0 0;
    }
    .u-Masthead__vassar {
        position: absolute;
        top: -3em;
        left: 0;
    }
    .u-Search {
        left: auto;
        right: 0em;
        top: -3.5em;
    }
    .u-NavSite {
        padding: 3% 0;
    }
}
@media all and (min-width: $medium) {
}
@media all and (min-width: $large) {
    .u-lContent {
        padding: 0;
        width: 100%;
    }
    .u-lAside {
        padding: 0;
        width: 100%;
        float: none;
    }
}
 
/* ==============================
 *	COLOR
 * ==============================
 */

html {
    background: $dkGrey url(../../../../../assets/images/millay/Frontice-Gray-scale-bg.png) no-repeat;
    background-size: contain;
}
a {
    border-bottom: none ;
    padding-bottom: 0;
    text-decoration: underline;
}
/* a:visited {
    border-bottom: 1px solid $linkColorVisited;
}
a:hover,
a:focus {
    border-bottom: 1px solid $linkColorHoverFocus;
}
a:active {
    border-bottom: 1px solid $linkColorActive;
} */
.SocialAccount__iconTarget:link,
.u-Search__cancel:link,
.u-Figure a:link,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
.Module__headerLink:link,
.Module__link:link,
.Module--sidebar a:link,
a.fn.org.url.u-VCard__fn.u-VCard__item.u-VCard__org.u-VCard__url,
a.fn.org.url.u-VCard__fn.u-VCard__item.u-VCard__org.u-VCard__url:link,
.icon-close:link,
.u-Search__button:link,
.ac-NavAnchor--menu:link,
.u-NavSite__item:link,
.u-Masthead__siteName--link:link,
.u-Masthead__vassar--link:link,
.u-ArticleNavGroup__navButton:link,
.u-ArticleListItem__link:link {
    border-bottom: none;
    text-decoration: none;
}
.u-Masthead__siteName--link {
    @include link-colors($fontColor, $linkColorHoverFocus, $linkColorActive, $fontColor, $linkColorHoverFocus);
    text-decoration: none;
}
.u-Masthead__vassar--link {
    @include link-colors($ltYellow, $linkColorHoverFocus, $linkColorActive, $ltYellow, $linkColorHoverFocus);
}
.u-Masthead__vassar {
    background-color: $dkGrey;
}
.u-lHeader {
    border-bottom: .01em solid $mdGreen;
}
.u-lFooter {
    border-top: .01em solid $mdGreen;
}

@media all and (min-width: $small) {
    .u-Masthead__vassar {
        background-color: transparent;
    }
}

/* Main Area Modules */

.modulesArea {
    p, .all-link {
    font: $sidebarModule--font;
    }
    .Module__header {
    font: $sidebarModule__header--font;
    }
    .Module__label--side { 
    font: $sidebarModule--labelFont;
    }
    .Module__name {
    font: $sidebarModule--nameFont;
    }
    .Module__label, .Module__link, .Module__desc, .Module__title, .Module__desc, .modulesArea b, .modulesArea p, .Module__listItem {
    font-size: 21px;
    font-size: 1.2rem;
    }
}

/* LAYOUT */

@media screen {
    .modulesArea {
    overflow: hidden;
    clear: both;
    margin-top: 2em;
    @include v-pixel-fallback ('margin-bottom', 1.424rem);
    border-top: 1px solid $mdGreen;
    padding: 0;
    }
    .modulesArea__row:nth-child(1) {
        margin: 2em;
    }
    .Module__label, dd {
    margin: 0;
    padding: 0;
    display: inline-block;
    }
    .Module__header {
    margin-top: 0;
    letter-spacing: .01em;
    }
    .Module__label {
    margin-right: .25em;
    }
    .Module__list {
    margin: 0;
    list-style:none;
    padding-left:0;
    }
    .Module__listItem {
    padding: .3em 0;
    margin:0;
    }
    .Module__listItem:last-of-type {
    margin-bottom: 1em;
    }
    .Module__name {
    margin-bottom: 0;
    }
    .moreLink {
    display: block;
    }
    .Module--halfWidth {
    padding: 4% 0;
    }
}
@media all and (min-width: $small) {
    .modulesArea {
    border-bottom: none;
    }
    .Module--halfWidth:nth-child(2n+1) {
    padding-right: 1.424em;
    border-right: 1px solid $mdGreen;
    }
}
@media all and (min-width: $large) {
    .modulesArea__row--twocols {
    display: flex;
    }
    .Module--halfWidth {
    padding: 0;
    margin: 0 4%;
    }
    .Module--halfWidth {
    width: 50%;
    flex-direction: column;
    float: left;
    }
    .Module--halfWidth:nth-child(1) {
    padding-left: 0;
    }
    .Module--halfWidth:nth-child(2) {
    padding-right: 0;
    }
}
/* COLOR */

.modulesArea {
.Module__headerLink {
@include link-colors(
$sidebarModule__header--linkColor, 
$sidebarModule__header--linkColorHoverFocus, 
$sidebarModule__header--linkColorActive, 
$sidebarModule__header--linkColorVisited, 
$sidebarModule__header--linkColorHoverFocus
);
}
.Module__listItem:first-child, 
.Module__listItem:first-of-type {
border-top: none;
}
.modulesArea__row--onecol {
border-bottom: $sidebarModule__listItem--border;
}
.Module--deadlines {
border-right: $sidebarModule__listItem--border;
}
.Module__listItem {
border-top: $sidebarModule__listItem--border;
}
}
.Module__desc {
width: 60%;
margin: 0 auto;
text-align: center;
}
